<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>SarbagyaServletPath</servlet-name>
        <servlet-class>SarbagyaServletPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SarbagyaServletPath</servlet-name>
        <url-pattern>/SarbagyaServletPath</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>CookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadServlet</servlet-name>
        <servlet-class>ReadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadServlet</servlet-name>
        <url-pattern>/ReadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>SetSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/SetSessionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadSessionServlet</servlet-name>
        <servlet-class>ReadSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadSessionServlet</servlet-name>
        <url-pattern>/ReadSessionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

</web-app>